/* Header Portion */

* {
    padding: 0;
    margin: 0;
}

.nav-logo-div {
    display: flex;
}

#previous-arrow {
    text-decoration: none;
    align-self: center;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 300%;
    color: black;
}

#previous-arrow:hover {
    box-shadow: 1px 1px 10px 5px #13cce0;
}

#logo-header {
    height: 80%;
    width: 50%;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar {
    display: flex;
    border-bottom: solid black 2px;
    background-color: rgb(141, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-list-div {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 7%;
    justify-content: right;
}

.nav-list {
    display: flex;
    width: fit-content;
    padding-left: 7%;
    padding-right: 7%;
}

.nav-list-a {
    text-decoration: none;
    color: black;
    font-size: 130%;
}

.dropdown .dropdown-btn{
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 170%;
}

.dropdown-item {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 120%;
}

.dropdown-item:hover, .nav-list-a:hover,
.dropdown:hover {
    color: #13cce0;
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(141, 244, 244);
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-left: solid black 1px;
    border-bottom: solid black 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}

/* Body Portion */

#emergency-body {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(229, 243, 243);
}

.Site-content {
    max-width: 90%;
    margin: auto;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#Heading-Rescue-Kit {
    font-size: 300%;
    font-weight: 650;
}

#starter {
    text-decoration: none;
    display: flex;
    font-size: 200%;
    padding-right: 3%;
    margin-top: 3%;
}

.points {
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.points-header {
    font-weight: 300;
    font-size: 150%;
}

.sub-list {
    font-weight: 300;
    font-size: 130%;
    padding-left: 3%;
    text-align: justify;
}

.points-seperator {
    border: solid black .5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.link-in-body {
    text-decoration: underline;
    color: black;
}

.link-in-body:hover {
    color: #13cce0;
}

/* Footer Portion */

.footer {
    background-color: rgb(4, 4, 4);
    height: 100%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 3%;
    border-top: solid black 2px;
}

#logo-footer {
    display: flex;
    width: 25%;
}

#line-below-logo-footer {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 24.8%;
    border: solid white 1.5px;
}

.footer-list {
    display: flex;
    color: white;
    font-size: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2%;
    margin-left: 35%;
}

.footer-a, #mobile-number{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: fit-content;
    color: white;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.learn-more {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 15%;
}

.company {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 15%;
}

.support {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 15%;
}

.footer-a:hover {
    color: #13cce0;
    text-decoration: underline;
}