/* Header Portion */

* {
    padding: 0;
    margin: 0;
}
#logo-header {
    height: 90px;
    width: 300px;
    margin-top: auto;
    margin-left: 45px;
    padding-bottom: 5px;
}
#arrow-header {
    margin-left: 30px;
    align-self: center;
    height: 30px;
    width: 30px;
}
.navbar {
    display: flex;
    border-bottom: solid black 2px;
}
.nav-list-div {
    display: flex;
    margin-left: 300px;
    justify-content: right;
}
.nav-list {
    display: flex;
    margin-top:  auto;
    margin-bottom: auto;
    margin-left: 30px;
    padding-right: 20px;
    font-size: 20px;
}
.nav-list-a {
    text-decoration: none;
    color: black;
}
.dropdown .dropdown-btn, .dropdown-item{
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 20px;
    font-family: inherit;
}
.navbar .dropdown-btn:hover,
.dropdown-item:hover, .nav-list-a:hover,
.dropdown:hover,
.dropdown-btn:focus {
    color: #13cce0;
    text-decoration: underline;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: solid black 1px;
    border-bottom: solid black 2px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}

/* Body Portion */
.Site-content {
    margin-top: 10%
}

.Site-content {
    height: 300px;
}

.Site-content h2 {
    margin-top: 3%;
}

.header {
    grid-area: header_section;
    background-color: #ffffff;

}

.Site-content {
    grid-area: Site-content_section;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
    padding-bottom: 20px;
}


/* GFG code */
/* * {
    margin: 0;
    padding: 0;
} */


.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
}

.paras {
    padding: 0px 65px;
}

.thumbnail img {
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}

.center {
    text-align: center;
}




/* Footer Portion */

.footer {
    background-color: rgb(4, 4, 4);
    height: 230px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

#logo-footer {
    display: flex;
    width: 300px;
    height: 90px;
}

#line-below-logo-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: solid white 1px;
}

.footer-list {
    display: flex;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 450px;
}

.footer-a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    width: fit-content;
    color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

.learn-more {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 50px;
}

.learn-more-div {
    margin-top: 10px;
}

.company {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
}

.company-div {
    margin-top: 10px;
}

.support {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 50px;
}

.support-div {
    margin-top: 10px;
}