/* Header Portion */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(229, 243, 243);
}

.nav-logo-div {
    display: flex;
    width: 100%;
    height: 100%;
}

#previous-arrow {
    text-decoration: none;
    align-self: center;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 300%;
    color: black;
}

#previous-arrow:hover {
    box-shadow: 1px 1px 10px 5px #13cce0;
}

#logo-header {
    height: 80%;
    width: 50%;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    border-bottom: solid black 2px;
    background-color: rgb(141, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.nav-list-div {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 7%;
    justify-content: right;
}

.nav-list {
    display: flex;
    width: fit-content;
    padding-left: 7%;
    padding-right: 7%;
}

.nav-list-a {
    text-decoration: none;
    color: black;
    font-size: 130%;
}

.dropdown .dropdown-btn {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 170%;
}

.dropdown-item {
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 120%;
}

.dropdown-item:hover,
.nav-list-a:hover,
.dropdown:hover {
    color: #1339e0;
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(229, 243, 243);
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-left: solid black 1px;
    border-bottom: solid black 2px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main Body */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   #wrapper{
    padding-top: 10%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
   }
   .container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
   }
   .container h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
   }
   .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .card{
    width: 32%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
   }
    .card img{
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        box-shadow: 0 0 20px #333;
        object-fit: cover;

    }
    .card:hover{
        transform: scale(1.03);
        transition: 0.5s;
        filter: drop-shadow(0 0 10px #333);
    }
    .card:hover img{
        filter: grayscale(0%);
    }
    .card figcaption{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px;
        width: 100%;
        height: 20%;
        font-size: 16px;
        font-weight: 500;
        color:#fff;
        opacity: 0;
        background: linear-gradient( 0deg rgba(0 ,0 ,0, 0.5) 0%, rgba(255,255,255,0) );
        transition: 0.5s;
    }
    .card:hover figcaption{
        opacity: 1;
        transform: scale(1.03);
    }


    /* Footer Portion */

    .footer {
        background-color: rgb(4, 4, 4);
        height: 60%;
        margin-top: 5%;
        padding-left: 2%;
        padding-top: 2%;
        padding-bottom: 8%;
        border-top: solid black 2px;
    }
    
    #logo-footer {
        display: flex;
        width: 25%;
    }
    
    #line-below-logo-footer {
        margin-top: 1%;
        margin-bottom: 1%;
        width: 24.8%;
        border: solid white 1.5px;
    }
    
    .footer-list {
        display: flex;
        color: white;
        font-size: 130%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 2%;
        margin-left: 35%;
    }
    
    .footer-a,
    #mobile-number {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        width: fit-content;
        color: white;
        font-size: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .learn-more {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-right: 15%;
    }
    
    .company {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-right: 15%;
    }
    
    .support {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-right: 15%;
    }
    
    .footer-a:hover {
        color: #13cce0;
        text-decoration: underline;
    }
    
    .footer-list b {
        margin-bottom: 8%;
        font-size: 25px;
    }