/* Header Portion */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(229, 243, 243);
}

.nav-logo-div {
	display: flex;
	width: 100%;
	height: 100%;
}

#logo-header {
	height: 80%;
	width: 50%;
	margin-left: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.navbar {
	display: flex;
	width: 100%;
	position: fixed;
	border-bottom: solid black 2px;
	background-color: rgb(141, 244, 244);
	font-family: Arial, Helvetica, sans-serif;
	z-index: 2;
}

.nav-list-div {
	display: flex;
	align-items: center;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 20%;
	margin-right: 7%;
	justify-content: right;
}

.nav-list {
	display: flex;
	width: fit-content;
	padding-left: 7%;
	padding-right: 7%;
}

.nav-list-a {
	text-decoration: none;
	color: black;
	font-size: 130%;
}

.dropdown .dropdown-btn {
	text-decoration: none;
	color: black;
	display: flex;
	font-size: 170%;
}

.dropdown-item {
	text-decoration: none;
	color: black;
	display: flex;
	font-size: 120%;
}

.dropdown-item:hover,
.nav-list-a:hover,
.dropdown:hover {
	color: #1339e0;
	text-decoration: underline;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(229, 243, 243);
	width: fit-content;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	border-left: solid black 1px;
	border-bottom: solid black 2px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	opacity: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Main Body */

.b1 {
	/* display: inline-block; */
	display: inline;
	/* margin: 2px; */
}


.b1 .h1 {
	margin: auto;
	display: inline-block;
	padding-top: 10%;
	padding-left: 5%;
}

.b1 .h1 img {
	margin: auto;
	float: left;
	height: 500px;
	width: 700px;
}

.l {
	display: inline-block;
	border-left: 7px solid rgba(135, 134, 134, 0.592);
	height: 80%;
	/* margin-bottom: -20px; */
	margin-bottom: -2%;
	margin-left: 2%;
	border-radius: 8px;
}

.right1 {
	display: inline-block;
	float: right;
	/* position: relative; */
	/* width: max-content; */
	margin-top: 15%;
	/* margin-right:10px; */
	/* margin-left: 20%; */
}

.h2 img {
	display: inline-block;
	/* float: left; */
	height: auto;
	width: auto;
	padding-bottom: 5%;
}


.h2 p {
	display: inline-block;
	/* width: auto; */
	width: max-content;
	padding-bottom: 30px;
	/* padding: 30px; */
}

.h2 .p {
	display: inline-block;
	float: right;
	padding-right: 49%;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

button {

	font-size: 25px;
	background-color: 04902B;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	text-align: center;
	width: auto;
	border-radius: 10px;
	border-color: 04902B;
	border-left: 2px solid black;
	border-bottom: 3.5px solid black;
}

.button {
	float: left;
	width: auto;
	padding-left: 30px;
}

button:hover {
	background-color: aqua;
	color: #000000;
}


.moving-line {
	margin-top: 5%;
	margin-bottom: 2%;
	width: 100%;
	/* white-space: nowrap; */
	animation: move 15s linear infinite;
}

@keyframes move {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.moving-line p {
	margin: 0;
	/* padding: 10px; */
	/* background-color: #333; */
	color: #1b1818;
	font-size: 40px;
}




.p1 {
	display: inline-block;
	/* margin:10px; */
	margin-bottom: 3px;
	width: 100%;
	text-align: center;
	/* font-size: 25px; */
}

.q .qi p {
	font-weight: bolder;
	/* display: block;
	width: 300px; */
	/* padding-left: 3px; */
	/* margin-left: auto;
	margin-right: 39%; */
}

.q {
	margin-bottom: 2%;
}



.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards {
	display: flex;
	width: 1200px;
	/* Adjust the total width for 4 cards */
	animation: slide 30s linear infinite;
	/* Slow down the animation */
}

.card {
	width: 300px;
	height: 200px;
	margin-right: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	transition: transform 0.5s;
	cursor: pointer;
	overflow: hidden;
}

.card:hover {
	transform: scale(1.05);
}

.card-content {
	padding: 10px;
	text-align: center;
}

.card h2 {
	margin: 0;
	color: #333;
}

.card p {
	margin: 10px 0;
	font-size: 14px;
	color: #666;
}

.dots {
	display: flex;
	margin-top: 10px;
}

.dot {
	width: 10px;
	height: 10px;
	background-color: #333;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.dot:hover {
	background-color: #666;
}

/* Add the following style to highlight the active dot */
.dot.active {
	background-color: #666;
}


/* Continuous Movement Animation */
@keyframes slide {

	0%,
	100% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(330px);
		/* Adjust the distance for 4 cards */
	}

	40% {
		transform: translateX(-300px);
		/* Adjust the distance for 4 cards */
	}

}




.rescuedata {

	background-color: 40CEED;
	height: 30%;
	position: relative;
	width: 100%;
	margin: auto;
	/* padding: auto; */
	/* margin-bottom: 20%; */
	margin-top: 2%;
}

.data {
	display: inline-block;
	/* position: relative; */
	/* margin: auto; */
	margin-top: 5%;
	margin-left: 18%;
}

.data .num {
	/* width: 20%; */
	text-align: center;
	font-size: 50px;
	color: #fff;
	/* display: inline; */
}

.data p {
	font-size: 20px;
	font-weight: bold;
	width: 100%;
}

.data .d1 {
	color: rgb(44, 108, 226);
}

.data .d2 {
	color: E6653C;
}

.data .d3 {
	color: 5677ED;
}

.uf {
	margin-top: 3%;
	/* display: flex; */
	position: absolute;
	/* margin: auto; */
	/* margin-top: 2%; */
	width: 100%;
	padding-bottom: 10%;
}

.form {
	margin-top: 5%;
	font-size: 20px;
	float: left;
	font-weight: bold;
	font-style: italic;
	padding-left: 2%;
	/* text-align: center; */
}

.tbox {
	margin-top: 5%;
}

.tbox input {
	margin-top: 5%;
	width: 100%;
	height: 30px;
}

.submit {

	font-size: 20px;
	background-color: rgb(9, 222, 233);
	color: #000000;
	margin: auto;
	margin-top: 10%;
	/* margin-left: 1%; */
	/* padding-left: 15px; */
	/* padding-right: 15px; */
	/* height: 40px; */
	text-align: center;
	/* width: auto; */
	border-radius: 12px;
	/* border-color: 04902B; */
	border-left: 2px solid black;
	border-bottom: 3.5px solid black;
}

.tbox button {
	float: right;
	right: 0%;
	/* padding-right: 20%; */
}

.limg img {
	float: right;
	margin-right: 8%;
	height: 250px;
	width: 50%;
}




/* Footer Portion */

.footer {
	background-color: rgb(4, 4, 4);
	height: 60%;
	margin-top: 30%;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 8%;
	border-top: solid black 2px;
}

#logo-footer {
	display: flex;
	width: 25%;
}

#line-below-logo-footer {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 24.8%;
	border: solid white 1.5px;
}

.footer-list {
	display: flex;
	color: white;
	font-size: 130%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-top: 2%;
	margin-left: 35%;
}

.footer-a,
#mobile-number {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	width: fit-content;
	color: white;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.learn-more {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-right: 15%;
}

.company {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-right: 15%;
}

.support {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-right: 15%;
}

.footer-a:hover {
	color: #13cce0;
	text-decoration: underline;
}

.footer-list b {
	margin-bottom: 8%;
	font-size: 25px;
}