/* Header Portion */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(229, 243, 243);
}

.navbar {
	display: flex;
	position: fixed;
	z-index: 3;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-right: 80px;
	background-color: rgb(141, 244, 244);
}

.logo {
	align-self: center;
	display: flex;
}

.logo img {
	width: 90%;
}


#previous-arrow {
    text-decoration: none;
    align-self: center;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 300%;
    color: black;
	border-radius: 25%;
	/* visibility: hidden; */
}

#previous-arrow:hover {
    box-shadow: 5px 3px #13cce0;
	border-left: solid 3px black;
	border-top: solid 2px black;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: black;
	padding: 1rem;
	display: block;
	font-size: 25px;
}

.navbar-links .trans {
	display: none;
}

.navbar-links li:hover,
.navbar-links a:hover {
	color: #1339e0;
	text-decoration: underline;
}

.toggle-button {
	position: absolute;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 25px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

.dropdown {
	display: block;
}

.dropdown .dropdown-btn {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

.dropdown-item {
	text-decoration: none;
	color: black;
	display: flex;
	font-size: 100%;
}

.dropdown-item a {
	padding: 0;
	margin: 0;
}

.dropdown-item:hover,
.nav-list-a:hover,
.dropdown:hover {
	color: #1339e0;
	text-decoration: underline;

}

.dropdown-content {
	display: none;
	position: absolute;
	right: 1%;
	background-color: rgb(229, 243, 243);
	width: 170px;
	padding: 0.5% 1% 0.5% 1%;
	border-left: solid black 1px;
	border-bottom: solid black 2px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	opacity: 1;

}

.dropdown:hover .dropdown-content {
	display: block;
}

@media (max-width: 900px) {
	.toggle-button {
		display: flex;
	}

	

	.navbar-links {
		visibility: hidden;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.4);
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 2;
	}

	.navbar-links ul {
		display: flex;
		flex-direction: column;
		opacity: 0.8;
	}

	.navbar-links li {
		text-align: center;
		background-color: rgb(141, 244, 244);
	}

	.navbar-links li a {
		padding: 0.5rem 1rem;


	}

	.navbar-links.active {
		visibility: visible;
	}

	.dropdown .dropdown-btn {
		font-size: 27px;
		padding: 0;
	}

	.dropdown:hover .dropdown-content {
		display: block;
		right: 40%;
		text-align: left;

	}
}


/* Body Portion */

main{
    padding-top: 8%;
}

::-webkit-scrollbar{
	display: none;
}

#about-body {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(229, 243, 243);
}

.Site-content {
    max-width: 90%;
    margin: auto;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#Heading-About-Us {
    text-align: center;
    margin-top: -2%;
    margin-bottom: -3%;
    color: rgb(16, 102, 239);
    font-size: 500%;
    font-weight: 550;
}

.points {
    text-decoration: underline;
    display: flex;
    font-size: 175%;
    margin-top: 3%;
}

.sub-point {
    text-decoration: none;
    display: flex;
    font-size: 130%;
    text-align: justify;
}

.sub-bullet {
    text-decoration: none;
    font-size: 130%;
    list-style: inside;
    padding-left: 2%;
}

.ending-paragraph {
    text-decoration: none;
    display: flex;
    font-size: 175%;
    margin-top: 3%;
    text-align: center;
}
@media (max-width:900px) {
    #Heading-About-Us{
        margin-top: 2%;
		font-size: 250%;
		
    }
    body {
        font-size: 14px; /* Adjust as needed */
    }

    .navbar-links li a,
    .dropdown .dropdown-btn,
    .dropdown-item,
    .ending-paragraph,
    .sub-bullet,
    .sub-point,
    .points,
    .footer-li li a,
    #learn-more,
    #Company,
    #support {
        font-size: 90%; /* Adjust as needed */
    }
}

@media (max-width:650px) {
    #Heading-About-Us{
        margin: 15% 0 7% 0 ;
 
    }
   
    
}

/* Footer Portion */

#logo-footer {
    width: 20%;
    padding-bottom: 4px;
    border-bottom: 2px solid white;
    margin-right: -20px;
    border-radius: 2px;
}

.footer {
    height: 80vh;
    background-color: rgb(4, 4, 4);
    padding-left: 0.1%;
    padding-bottom: 8%;
    border-top: solid black 2px;
    align-items: start;
}

.footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    margin-left: 0;
}

.footer-li li {
    list-style: none;
    top: 0;
}

.footer-li li a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}


#learn-more,
#Company,
#support {
    top: 0;
    color: gray;
    font-size: 30px;
    min-width: 169px;
    padding-left: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.f-data {
    color: white;
    margin-top: 18px;
    font-size: 15px;

}

.footer-a {
    width: fit-content;
}


.footer-a:hover {
    color: #13cce0;
    text-decoration: underline;
}


@media (max-width: 900px) {


#logo-footer {
   display: grid;
   place-items: center;
    margin-left: 30%;
    margin-right: auto;
    width: 40%;
}


.footer-li li a {
    font-size: medium;
}

#learn-more,
#support,
#Company {
    font-size: 30px;
}

.footer-list {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.footer-list>div:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
}

.footer-list>div:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
}

.footer-list>div:nth-child(4) {
    grid-column: 1;
    grid-row: 2;
    place-items: center;    
}


}

@media (max-width: 600px) {
    .footer{
        height: 90vh;
        padding: 0;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #learn-more,
    #support,
    #Company {
        padding-left: 0;
    }
    #support{
        margin-bottom: 0;
    }
    #logo-footer{
        display: flex;
        justify-content: center;
    }
    }