/* Header Portion */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(229, 243, 243);
}

/*  */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: rgb(141, 244, 244);
}

#previous-arrow {
    text-decoration: none;
    align-self: center;
    width: 40px;
    font-size: 200%;
    font-weight: 700;
    color: black;
}

#previous-arrow:hover {
    border-top: solid black 3px;
    border-left: solid black 5px;
    border-radius: 15px;
    box-shadow: 5px 3px #13cce0;
}

#logo {
    width: 70%;
}

.logo-div {
    width: fit-content;
    padding-inline: 5px;
    margin-left: 20px;
    max-height: 75px;
    align-items: center;
    text-align: center;
    color: black;
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu>li {
    margin-inline: 1.5rem;
    width: fit-content;
    overflow: hidden;
    display: flex;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 5px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.header-link {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    max-width: fit-content;
}

.header-link:hover {
    color: #1339e0;
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 75px;
        position: absolute;
        flex-direction: column;
    }

    #menu-toggle~.menu li {
        height: 0;
        padding-inline: 10px;
        align-items: center;
        transition: height 1s cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        height: 3em;
        transition: height 1s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: rgb(141, 244, 244);
    }

    .menu>li {
        display: flex;
        justify-content: right;
        width: 100%;
    }

    .header-link {
        color: black;
        text-decoration: none;
    }

    .header-link:hover {
        color: #1339e0;
        text-decoration: underline;
    }
}

/* Body Portion */
main {
    padding-top: 10%;
}

#emergency-body {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(229, 243, 243);
}

.Site-content {
    max-width: 90%;
    margin: auto;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#Heading-Rescue-Kit {
    font-size: 300%;
    font-weight: 650;
}

#starter {
    text-decoration: none;
    display: flex;
    font-size: 200%;
    padding-right: 3%;
    margin-top: 3%;
}

.points {
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.points-header {
    font-weight: 300;
    font-size: 150%;
}

.sub-list {
    font-weight: 300;
    font-size: 130%;
    padding-left: 3%;
    text-align: justify;
}

.points-seperator {
    border: solid black .5px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.link-in-body {
    text-decoration: underline;
    color: black;
}

.link-in-body:hover {
    color: #13cce0;
}

@media (max-width:900px) {
    .Site-content {
        font-size: 100%;
    }

}

@media (max-width:600px) {
    .Site-content {
        font-size: 50%;
    }
}

/* Footer Portion */


#logo-footer {
    width: 20%;
    padding-bottom: 4px;
    border-bottom: 2px solid white;
    margin-right: -20px;
    border-radius: 2px;
}

.footer {
    background-color: rgb(4, 4, 4);
    padding-left: 0.1%;
    padding-bottom: 8%;
    border-top: solid black 2px;
    align-items: start;
}

.footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    margin-left: 0;
}

.footer-li li {
    list-style: none;
    top: 0;
}

.footer-li li a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}


#learn-more,
#Company,
#support {
    top: 0;
    color: gray;
    font-size: 30px;
    height: fit-content;
    min-width: 169px;
}

.f-data {
    color: white;
    margin-top: 18px;
    font-size: 15px;

}

.footer-a {
    width: fit-content;
}


.footer-a:hover {
    color: #13cce0;
    text-decoration: underline;
}


@media (max-width: 900px) {
    #logo-footer {
        display: grid;
        place-items: center;
        margin-left: 30%;
        margin-right: auto;
        width: 40%;
    }


    .footer-li li a {
        font-size: small;
    }

    #learn-more,
    #support,
    #Company {
        font-size: 25px;
    }

    .footer-list {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .footer-list>div:nth-child(2) {
        grid-column: 1;
        grid-row: 1;
    }

    .footer-list>div:nth-child(3) {
        grid-column: 2;
        grid-row: 1;
    }

    .footer-list>div:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
        place-items: center;
    }


}

@media (max-width: 600px) {
    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo-footer {
        margin-left: 38%;
    }
}