/* Header Portion */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 243, 243);
}

/*  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: rgb(141, 244, 244);
}

#previous-arrow {
  text-decoration: none;
  align-self: center;
  width: 40px;
  font-size: 200%;
  font-weight: 700;
  color: black;
}

#previous-arrow:hover {
  border-top: solid black 3px;
  border-left: solid black 5px;
  border-radius: 15px;
  box-shadow: 5px 3px #13cce0;
}

#logo {
  width: 70%;
}

.logo-div {
  width: fit-content;
  padding-inline: 5px;
  margin-left: 20px;
  max-height: 75px;
  align-items: center;
  text-align: center;
  color: black;
  display: flex;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu>li {
  margin-inline: 1.5rem;
  width: fit-content;
  overflow: hidden;
  display: flex;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 5px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.header-link {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  max-width: fit-content;
}

.header-link:hover {
  border: solid 1px black;
  border-radius: 15px;
  background-color: aqua;
}

@media (max-width: 1000px) {

  .menu-button-container {
    display: flex;
  }

  .menu {
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 75px;
    position: absolute;
    flex-direction: column;
  }

  #menu-toggle~.menu li {
    height: 0;
  }

  #menu-toggle:checked~.menu li {
    height: 2.5em;
    background-color: rgba(141, 244, 244, 0.7);
    width: 100%;
  }

  .menu>li {
    justify-content: left;
    width: 40%;
    margin-inline: 0;
  }

  .header-link {
    color: black;
    text-decoration: none;
    margin-inline: 5%;
  }
}

/* Main Portion */

::-webkit-scrollbar {
  display: none;
}

main {
  padding-top: 7%;
  padding-bottom: 1%;
  width: 90%;
  margin-inline: auto;
  text-align: center;
}

.login {
  text-align: center;
  padding-top: 2%;
}

.login-content {
  border-radius: 10px;
  padding-block: 2%;
}

.login-form {
  margin-block: 3%;
  width: 60%;
  margin-inline: auto;
  border: solid 1px black;
  box-shadow: 0 5px 10px 0 rgb(137, 135, 135);
  border-radius: 15px;
}

.logo1 img {
  margin-block: 2%;
  width: 30%;
}

.p {
  font-size: 20px;
}

.p a {
  margin-inline: 1%;
  text-decoration: underline;
  color: black;
  font-size: 20px;
}

.p>a:hover {
  color: #13cce0;
}

.labels {
  font-size: 20px;
  margin-left: 7%;
  float: left;
  margin-block: 2%;
}

.form-group {
  overflow: hidden;
  margin-block: 2%;
  margin-inline: 5%;
}

.form-input {
  width: 60%;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 15px 15px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  color: black;
  float: right;
  margin-right: 7%;
}

.form-submit {
  margin-block: 3%;
  width: 60%;
  border-radius: 10px;
  padding: 20px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(to left, #7ce3d0, #cfd6f5);
}

.form-submit:hover {
  background-color: #29cfe5;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgb(137, 135, 135);
}

@media screen and (max-width: 1000px) {

  .login {
    padding-top: 5%;
  }

  .labels {
    margin-left: 1%;
  }

  .labels {
    margin-block: 3%;
  }
  
  .form-input {
    margin-right: 1%;   
  }
}

@media screen and (max-width: 700px) {

  .login {
    padding-top: 11%;
  }

  .login-form {
    width: 80%;
  }
  
  .labels {
    margin-block: 5%;
  }

  .form-input {
    width: 60%;     
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {

  .login {
    padding-top: 19%;
  }

  .login-form {
    width: 90%;
  }

  .form-input {
    width: 50%;     
  }

  .labels {
    margin-block: 5%;
  }

  .labels, .p, .p>a {
    font-size: 17px;
  }

  .form-input {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {

  .login {
    padding-top: 23%;
  }

  .labels {
    margin-block: 7%;
  }

  .labels, .p, .p>a, .form-input {
    font-size: 15px;
  }

  .form-input {
    font-size: 11px;
  }
}

/* Footer Portion */

.footer {
  background-color: rgb(41, 41, 41);
}

#logo-img {
  width: 60%;
}

.footer-list {
  padding-block: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo-footer {
  margin-inline: 10%;
  margin-block: 5%;
}

.footer-li {
  white-space: nowrap;
}

.footer-li li {
  list-style: none;
}

.footer-li li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.learn-more,
.company {
  color: gray;
  font-size: 25px;
  height: fit-content;
  min-width: fit-content;
  padding: 2%;
}

.f-data {
  color: white;
  margin-top: 15px;
}

.footer-a {
  width: fit-content;
}

.footer-a:hover {
  color: #13cce0;
  text-decoration: underline;
}

.support {
  padding-block: 1%;
  background-color: black;
  color: white;
  text-align: center;
}

.find-me {
  font-size: 20px;
  text-align: center;
}

.links {
  width: 40%;
  height: auto;
  display: flex;
  margin-inline: auto;
  padding-block: 1%;
}

.link {
  margin-inline: 8%;
  padding: 2%;
  border: solid 1px white;
  border-radius: 15px;
  fill: white;
}

.link:hover {
  background-color: rgb(9, 222, 233);
  fill: white;
}

@media (max-width: 900px) {


  .main {
    padding-block: 10%;
  }

  .learn-more,
  .company {
    font-size: 20px;
  }

  .footer-li li a {
    font-size: 15px;
  }

  .link {
    margin-inline: 7%;
    border-radius: 10px;
  }
}

@media (max-width: 700px) {

  .learn-more,
  .Company {
    font-size: 20px;
    padding: 3%;
  }

  .footer-li {
    margin-inline: 20%;
  }

  .footer-li li a {
    font-size: 15px;
  }

  .footer-list {
    grid-template-rows: 30% 40%;
    grid-template-columns: 50% 50%;
  }

  .logo-footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-inline: 5%;
    padding-bottom: 3%;
    margin-inline: 15%;
    width: 100%;
  }

  .learn-more {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .company {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }


  .find-me {
    font-size: 15px;
  }

  .link {
    margin-inline: 6%;
    border-radius: 7px;
  }

  .support {
    padding-block: 3%;
  }
}

@media (max-width: 500px) {

  .main {
    padding-block: 20%;
  }

  .logo-footer {
    width: 230px;
  }
}