/* /Header Portion */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(229, 243, 243);
}

.navbar {
  display: flex;
  position: fixed;
  z-index: 3;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  background-color: rgb(141, 244, 244);
}

.logo {
  align-self: center;
  display: flex;
}

.logo img {
  width: 90%;
}


#previous-arrow {
  text-decoration: none;
  align-self: center;
  margin-left: 5%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 300%;
  color: black;
  border-radius: 25%;
  /* visibility: hidden; */
}

#previous-arrow:hover {
  box-shadow: 5px 3px #13cce0;
  border-left: solid 3px black;
  border-top: solid 2px black;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  font-size: 25px;
}

.navbar-links .trans {
  display: none;
}

.navbar-links li:hover,
.navbar-links a:hover {
  color: #1339e0;
  text-decoration: underline;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.dropdown {
  display: block;
}

.dropdown .dropdown-btn {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.dropdown-item {
  text-decoration: none;
  color: black;
  display: flex;
  font-size: 100%;
}

.dropdown-item a {
  padding: 0;
  margin: 0;
}

.dropdown-item:hover,
.nav-list-a:hover,
.dropdown:hover {
  color: #1339e0;
  text-decoration: underline;

}

.dropdown-content {
  display: none;
  position: absolute;
  right: 1%;
  background-color: rgb(229, 243, 243);
  width: 170px;
  padding: 0.5% 1% 0.5% 1%;
  border-left: solid black 1px;
  border-bottom: solid black 2px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;

}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 900px) {
  .toggle-button {
    display: flex;
  }



  .navbar-links {
    visibility: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 2;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
  }

  .navbar-links li {
    text-align: center;
    background-color: rgb(141, 244, 244);
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;


  }

  .navbar-links.active {
    visibility: visible;
  }

  .dropdown .dropdown-btn {
    font-size: 27px;
    padding: 0;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    right: 40%;
    text-align: left;

  }
}


/* Main Portion */

.mainContainer {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}


.p a {
  margin-left: 5%;
}

.p {
  text-align: center;
}

a {
  text-decoration: none;
}

#submit {
  width: 90px;
  height: 30px;
  margin: auto;
  border-radius: 4px;
}

input {
  font-size: larger;
  width: 100%;
}

#submit:hover {
  background-color: #29cfe5;
  color: white;
  cursor: pointer;
}

.l1 {
  margin-top: 40px;
  width: 20%;
  margin-left: 39.56%;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  margin-top: 20px;
}

.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: white;
  margin-left: 1px;
}

.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  margin-right: 1px;
}

.btn-text {
  float: right;
  margin: 0 11px 0 0;
  margin-top: 6%;
  color: white;
  font-size: 14px;
  font-family: "Roboto";
}

@media (max-width:600px) {
  .mainContainer {
    padding-top: 20%;
  }
}

/* Footer portion */
/* Footer Portion */

#logo-footer {
	width: 20%;
	padding-bottom: 4px;
	border-bottom: 2px solid white;
	margin-right: -20px;
	border-radius: 2px;
}

.footer {
	background-color: rgb(4, 4, 4);
	padding-left: 0.1%;
	padding-bottom: 8%;
	border-top: solid black 2px;
	align-items: start;
}

.footer-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: start;
	margin-left: 0;
}

.footer-li li {
	list-style: none;
	top: 0;
}

.footer-li li a {
	text-decoration: none;
	font-size: 22px;
	color: white;
}


#learn-more,
#Company,
#support {
	top: 0;
	color: gray;
	font-size: 30px;
	height: fit-content;
	min-width: 169px;
}

.f-data {
	color: white;
	margin-top: 18px;
	font-size: 15px;

}

.footer-a {
	width: fit-content;
}


.footer-a:hover {
	color: #13cce0;
	text-decoration: underline;
}


@media (max-width: 900px) {
	.main {
		padding-top: 20%;
	}

	#logo-footer {
		display: grid;
		place-items: center;
		margin-left: 30%;
		margin-right: auto;
		width: 40%;
	}


	.footer-li li a {
		font-size: small;
	}

	#learn-more,
	#support,
	#Company {
		font-size: 25px;
	}

	.footer-list {
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.footer-list>div:nth-child(2) {
		grid-column: 1;
		grid-row: 1;
	}

	.footer-list>div:nth-child(3) {
		grid-column: 2;
		grid-row: 1;
	}

	.footer-list>div:nth-child(4) {
		grid-column: 1;
		grid-row: 2;
		place-items: center;
	}


}

@media (max-width: 600px) {
	.footer-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#logo-footer {
		margin-left: 38%;
	}
}