/* Header Portion */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(229, 243, 243);
}

.navbar {
	display: flex;
	/* position: fixed; */
	z-index: 3;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-right: 80px;
	background-color: rgb(141, 244, 244);
}

.logo {
	align-self: center;
	display: flex;
}

.logo img {
	width: 90%;
}


#previous-arrow {
    text-decoration: none;
    align-self: center;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 300%;
    color: black;
	border-radius: 25%;
	/* visibility: hidden; */
}

#previous-arrow:hover {
    box-shadow: 5px 3px #13cce0;
	border-left: solid 3px black;
	border-top: solid 2px black;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: black;
	padding: 1rem;
	display: block;
	font-size: 25px;
}

.navbar-links .trans {
	display: none;
}

.navbar-links li:hover,
.navbar-links a:hover {
	color: #1339e0;
	text-decoration: underline;
}

.toggle-button {
	position: absolute;
	top: 2rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 23px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

.dropdown {
	display: block;
}

.dropdown .dropdown-btn {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

.dropdown-item {
	text-decoration: none;
	color: black;
	display: flex;
	font-size: 100%;
}

.dropdown-item a {
	padding: 0;
	margin: 0;
}

.dropdown-item:hover,
.nav-list-a:hover,
.dropdown:hover {
	color: #1339e0;
	text-decoration: underline;

}

.dropdown-content {
	display: none;
	position: absolute;
	right: 1%;
	background-color: rgb(229, 243, 243);
	width: 170px;
	padding: 0.5% 1% 0.5% 1%;
	border-left: solid black 1px;
	border-bottom: solid black 2px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	opacity: 1;

}

.dropdown:hover .dropdown-content {
	display: block;
}

@media (max-width: 900px) {
	.toggle-button {
		display: flex;
	}

	

	.navbar-links {
		visibility: hidden;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.4);
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 2;
	}

	.navbar-links ul {
		display: flex;
		flex-direction: column;
		opacity: 0.8;
	}

	.navbar-links li {
		text-align: center;
		background-color: rgb(141, 244, 244);
	}

	.navbar-links li a {
		padding: 0.5rem 1rem;


	}

	.navbar-links.active {
		visibility: visible;
	}

	.dropdown .dropdown-btn {
		font-size: 27px;
		padding: 0;
	}

	.dropdown:hover .dropdown-content {
		display: block;
		right: 40%;
		text-align: left;

	}
}

/* main body */

main{
	padding: 0;
	margin: 0;
	width: 100%;
    /* padding-top: 2%; */
}

#about-body {
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(229, 243, 243);
}

.Site-content {
    max-width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.organization-name{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #9a23e9;
    background: linear-gradient(to bottom, #a692f2 21%, rgb(209 162 241) 74%);
    color: black;

}
.map-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 77vh;
    margin: 0%;
    padding: 0%;
    z-index: -1;
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

.user-info{
    /* display: none; */
    align-items: flex-start;
    text-align: left;
    margin-right: 10%;
    font-size: larger;
    /* background-color: #007BFF; */
    padding-bottom: 45%;
}

.info{
    display: none;
}

.info.visible{
    display: block;
}

.accept-button, .decline-button{
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 2%;
    padding: 5px;
    font-size: 17px;
    border-radius: 7px;
    background-color: #007BFF;
    color: white;
    cursor: pointer; 
}

#map {
    height: 100%; 
    width: 67%;
    border: 2px solid black;
}

#user-location,#organization-location{
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.rescue-track-container {
    /* margin-top: 20px; */
	font-size: 22px;
	width: 100%;
    background-color: #40CEED;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
	display: flex;
	flex-direction: column;
}

.rescue-data{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap:15%;
	padding: 3%;
}

.data .num {
	/* width: 20%; */
	/* text-align: center; */
	font-size: 50px;
	color: #fff;
	padding: 0%;
	/* margin: 1%; */
	margin-bottom: 0.4%;
	/* display: inline; */
}

.data p {
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	/* margin: 7%; */
}

@media (max-width: 900px) {

	/* .organization-name{
		height: 150px;
	} */
	.rescue-track-container {
		/* margin-top: 20px; */
		font-size: 18px;
	}

	.rescue-data{
		display: flex;
		flex-direction: column;
		padding: 2%;
	}

	.data p {
		padding-bottom: 4%;
	}
}

/* Footer Portion */

#logo-footer {
	width: 20%;
	padding-bottom: 4px;
	border-bottom: 2px solid white;
	margin-right: -20px;
	border-radius: 2px;
}

.footer {
	background-color: rgb(4, 4, 4);
	padding-left: 0.1%;
	padding-bottom: 8%;
	border-top: solid black 2px;
	align-items: start;
}

.footer-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: start;
	margin-left: 0;
}

.footer-li li {
	list-style: none;
	top: 0;
}

.footer-li li a {
	text-decoration: none;
	font-size: 22px;
	color: white;
}


#learn-more,
#Company,
#support {
	top: 0;
	color: gray;
	font-size: 30px;
	height: fit-content;
	min-width: 169px;
}

.f-data {
	color: white;
	margin-top: 18px;
	font-size: 15px;

}

.footer-a {
	width: fit-content;
}


.footer-a:hover {
	color: #13cce0;
	text-decoration: underline;
}


@media (max-width: 900px) {
	.main {
		padding-top: 20%;
	}

	#logo-footer {
		display: grid;
		place-items: center;
		margin-left: 30%;
		margin-right: auto;
		width: 40%;
	}


	.footer-li li a {
		font-size: small;
	}

	#learn-more,
	#support,
	#Company {
		padding-top: 5%;
		font-size: 25px;
	}

	.footer-list {
		display: grid;
		place-items: center;
		padding-top: 2%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.footer-list>div:nth-child(2) {
		grid-column: 1;
		grid-row: 1;
	}

	.footer-list>div:nth-child(3) {
		grid-column: 2;
		grid-row: 1;
	}

	.footer-list>div:nth-child(4) {
		grid-column: 1;
		grid-row: 2;
		place-items: center;
	}


}

@media (max-width: 600px) {
	.footer-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#logo-footer {
		margin-left: 38%;
	}
}