/* Header Portion */

* {
<<<<<<< HEAD
=======
	padding: 0;
	margin: 0;
>>>>>>> 3074b10f1f5fa34cf4349b12a8d59a5172e43911
	box-sizing: border-box;
}

body {
<<<<<<< HEAD
	margin: 0;
	padding: 0;
	background-color: rgb(229, 243, 243);
}

.navbar {
	display: flex;
	position: fixed;
	z-index: 3;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-right: 80px;
=======
	background-color: rgb(229, 243, 243);
}

/*  */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
	position: fixed;
	width: 100%;
	z-index: 99;
>>>>>>> 3074b10f1f5fa34cf4349b12a8d59a5172e43911
	background-color: rgb(141, 244, 244);
}

.logo {
	align-self: center;
	display: flex;
}

.logo img {
	width: 90%;
}


#previous-arrow {
<<<<<<< HEAD
    text-decoration: none;
    align-self: center;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 300%;
    color: black;
	border-radius: 25%;
	/* visibility: hidden; */
}

#previous-arrow:hover {
    box-shadow: 5px 3px #13cce0;
	border-left: solid 3px black;
	border-top: solid 2px black;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: black;
	padding: 1rem;
	display: block;
	font-size: 25px;
}

.navbar-links .trans {
	display: none;
}

.navbar-links li:hover,
.navbar-links a:hover {
	color: #1339e0;
	text-decoration: underline;
}

.toggle-button {
	position: absolute;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 25px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}
.toggle-button.cross span {
    transition: transform 0.3s ease-out;
}

.toggle-button.cross span:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 7.5px);
}

.toggle-button.cross span:nth-child(2) {
    transform: rotate(-45deg) translate(8px, -8px);
}

.toggle-button.cross span:nth-child(3) {
    display: none;
}
.dropdown {
	display: block;
}

.dropdown .dropdown-btn {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

.dropdown-item {
	text-decoration: none;
	color: black;
	display: flex;
	font-size: 100%;
}

.dropdown-item a {
	padding: 0;
	margin: 0;
}

.dropdown-item:hover,
.nav-list-a:hover,
.dropdown:hover {
	color: #1339e0;
	text-decoration: underline;

}

.dropdown-content {
	display: none;
	position: absolute;
	right: 1%;
	background-color: rgb(229, 243, 243);
	width: 170px;
	padding: 0.5% 1% 0.5% 1%;
	border-left: solid black 1px;
	border-bottom: solid black 2px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	opacity: 1;

}

.dropdown:hover .dropdown-content {
	display: block;
}

@media (max-width: 900px) {
	.toggle-button {
		display: flex;
	}

	

	.navbar-links {
		visibility: hidden;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.4);
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 2;
	}

	.navbar-links ul {
		display: flex;
		flex-direction: column;
		opacity: 0.8;
	}

	.navbar-links li {
		text-align: center;
		background-color: rgb(141, 244, 244);
	}

	.navbar-links li a {
		padding: 0.5rem 1rem;


	}

	.navbar-links.active {
		visibility: visible;
	}

	.dropdown .dropdown-btn {
		font-size: 27px;
		padding: 0;
	}

	.dropdown:hover .dropdown-content {
		display: block;
		right: 40%;
		text-align: left;

	}
=======
	text-decoration: none;
	align-self: center;
	width: 40px;
	font-size: 200%;
	font-weight: 700;
	color: black;
}

#previous-arrow:hover {
	border-top: solid black 3px;
	border-left: solid black 5px;
	border-radius: 15px;
	box-shadow: 5px 3px #13cce0;
}

#logo {
	width: 70%;
}

.logo-div {
	width: fit-content;
	padding-inline: 5px;
	margin-left: 20px;
	max-height: 75px;
	align-items: center;
	text-align: center;
	color: black;
	display: flex;
}

.menu {
	display: flex;
	flex-direction: row;
}

.menu>li {
	margin-inline: 1.5rem;
	width: fit-content;
	overflow: hidden;
	display: flex;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 50px;
	flex-direction: column;
	justify-content: center;
	align-items: right;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: black;
	position: absolute;
	height: 4px;
	width: 30px;
	border-radius: 5px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
>>>>>>> 3074b10f1f5fa34cf4349b12a8d59a5172e43911
}

#menu-toggle:checked+.menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

.header-link {
	color: black;
	padding: 10px;
	text-decoration: none;
	font-size: 20px;
	max-width: fit-content;
}

.header-link:hover {
	border: solid 1px black;
	border-radius: 15px;
	background-color: aqua;
}

@media (max-width: 1000px) {

	.menu-button-container {
		display: flex;
	}

	.menu {
		top: 0;
		left: 0;
		width: 100%;
		margin-top: 75px;
		position: absolute;
		flex-direction: column;
	}

	#menu-toggle~.menu li {
		height: 0;
	}

	#menu-toggle:checked~.menu li {
		height: 2.5em;
		background-color: rgba(141, 244, 244, 0.7);
		width: 100%;
	}

	.menu>li {
		justify-content: left;
		width: 40%;
		margin-inline: 0;
	}

	.header-link {
		color: black;
		text-decoration: none;
		margin-inline: 5%;
	}
}

/* Body Portion */
<<<<<<< HEAD
::-webkit-scrollbar{
	display: none;
}
.precaution-body {
    padding-top: 10%;
    padding-bottom: 2%;
    background-color: rgb(229, 243, 243);
    max-width: 100%;
=======
main {
    padding-top: 5%;
>>>>>>> 3074b10f1f5fa34cf4349b12a8d59a5172e43911
}

.precaution-body {
    background-color: rgb(229, 243, 243);
    width: 90%;
    margin-inline: auto;
}

.helper-heading {
    width: 80%;
    padding-block: 1%;
    font-size: 200%;
    font-weight: 900;
    margin-inline: auto;
    margin-bottom: 3%;
	color: #205BB2;
    text-align: center;
}

.helper-heading:hover {
    background-color: aqua;
    border: solid 1px black;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgb(137, 135, 135);
}

#wildlife-emergency {
<<<<<<< HEAD
    margin-bottom: 1%;
    font-weight: 500;
    padding-left: 3%;
    padding-right: 3%;
    text-decoration: underline;
}

.help-links {
	
    padding-left: 10%;
	padding-right: 10%;
    text-align: left;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
=======
>>>>>>> 3074b10f1f5fa34cf4349b12a8d59a5172e43911
    font-size: 150%;
    font-weight: 400;
    padding-inline: 3%;
    width: fit-content;
}

.links-body {
    padding-block: 1%;
    margin-inline: 5%;
}

.link-in-body {
    font-size: 120%;
    list-style-type: disc;
    text-decoration: none;
    color: black;
}

.help-div {
    padding: 3%;
    margin-block: 3%;
    background-color: white;
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 rgb(137, 135, 135);
}

.help-heading {
    text-align: justify;
    font-size: 130%;
}

.link-in-body:hover{
    color: #13cce0;
    text-decoration: underline;
}

.bird, .turtle {
    padding-inline: 2%;
}

.bird-turtle {
    display: flex;
    flex-direction: row;
}

<<<<<<< HEAD

	.animal-img {
		width: 100%;
		height: auto;
		max-width: 100%;
		margin-top: 2%;
		margin-bottom: 2%;
		
	}
 
=======
.animal-img {
    width: 80%;
}
>>>>>>> 3074b10f1f5fa34cf4349b12a8d59a5172e43911

.content-div {
    list-style-type: square;
    text-align: justify;
    font-size: 120%;
}

.reunite-bullets, .transport-bullets {
    padding-block: 1%;
    list-style: decimal;
    padding-inline: 5%;
}


@media (max-width: 900px) {
    main {
        padding-block: 8%;
    }

    .helper-heading {
        font-size: 25px;
    }

    #wildlife-emergency {
        font-size: 20px;
        white-space: nowrap;
    }
    
    .links {
        font-size: 15px;
    }

    .bird-turtle {
        flex-direction: column;
    }
}

@media (max-width: 700px ) {
    main {
        padding-block: 13%;
    }

    .help-div {
        font-size: 10px;
    }

    .bird, .turtle {
        padding: 2%;
    }
}

@media (max-width: 500px ) {
    main {
        padding-block: 17%;
    }

}

@media (max-width: 400px ) {
    main {
        padding-top: 25%;
    }

}

@media (max-width:900px) {
	.help-links{
		margin-top: 5%;
	}
}
@media (max-width:600px) {
	.help-links{
		margin-top: 15%;
	}
}



/* Footer Portion */

<<<<<<< HEAD
#logo-footer {
	width: 20%;
	padding-bottom: 4px;
	border-bottom: 2px solid white;
	margin-right: -20px;
	border-radius: 2px;
}

.footer {
	height: 80vh;
	background-color: rgb(4, 4, 4);
	padding-left: 0.1%;
	padding-bottom: 8%;
	border-top: solid black 2px;
	align-items: start;
}

.footer-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: start;
	margin-left: 0;
}

.footer-li li {
	list-style: none;
	top: 0;
}

.footer-li li a {
	text-decoration: none;
	font-size: 22px;
	color: white;
}


#learn-more,
#Company,
#support {
	top: 0;
	color: gray;
	font-size: 30px;
	height: fit-content;
	min-width: 169px;
}

.f-data {
	color: white;
	margin-top: 18px;
	font-size: 15px;

=======
.footer {
    background-color: rgb(41, 41, 41);
}

#logo-img {
    width: 60%;
}

.footer-list {
    padding-block: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo-footer {
	margin-inline: 10%;
	margin-block: 5%;
}

.footer-li {
    white-space: nowrap;
}

.footer-li li {
    list-style: none;
}

.footer-li li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.learn-more,
.company{
    color: gray;
    font-size: 25px;
    height: fit-content;
    min-width: fit-content;
    padding: 2%;
}

.f-data {
    color: white;
    margin-top: 15px;
}

.footer-a {
    width: fit-content;
>>>>>>> 3074b10f1f5fa34cf4349b12a8d59a5172e43911
}

.footer-a {
	width: fit-content;
}


.footer-a:hover {
	color: #13cce0;
	text-decoration: underline;
}

<<<<<<< HEAD

@media (max-width: 900px) {
	.main {
		padding-top: 20%;
	}

	#logo-footer {
		display: grid;
		place-items: center;
		margin-left: 30%;
		margin-right: auto;
		width: 40%;
	}


	.footer-li li a {
		font-size: medium;
	}

	#learn-more,
	#support,
	#Company {
		font-size: 30px;
	}

	.footer-list {
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.footer-list>div:nth-child(2) {
		grid-column: 1;
		grid-row: 1;
	}

	.footer-list>div:nth-child(3) {
		grid-column: 2;
		grid-row: 1;
	}

	.footer-list>div:nth-child(4) {
		grid-column: 1;
		grid-row: 2;
		place-items: center;
	}


}

@media (max-width: 600px) {
    .footer{
        height: 90vh;
        padding: 0;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #learn-more,
    #support,
    #Company {
        padding-left: 0;
    }
    #support{
        margin-bottom: 0;
    }
    #logo-footer{
        display: flex;
        justify-content: center;
    }
    }
=======
.support {
	padding-block: 1%;
	background-color: black;
	color: white;
	text-align: center;
}

.find-me {
    font-size: 20px;
    text-align: center;
}

.links {
    width: 40%;
    height: auto;
    display: flex;
    margin-inline: auto;
	padding-block: 1%;
}

.link {
    margin-inline: 8%;
    padding: 2%;
    border: solid 1px white;
    border-radius: 15px;
	fill: white;
}

.link:hover {
    background-color: rgb(9, 222, 233);
    fill: white;
}

@media (max-width: 900px) {


	.main {
		padding-block: 10%;
	}

    .learn-more,
    .company {
        font-size: 20px;
    }

    .footer-li li a {
        font-size: 15px;
    }

	.link {
		margin-inline: 7%;
		border-radius: 10px;
	}
}

@media (max-width: 700px) {

    .learn-more,
    .Company {
        font-size: 20px;
		padding: 3%;
    }

	.footer-li {
		margin-inline: 20%;
	}
    .footer-li li a {
        font-size: 15px;
    }

	.footer-list {
		grid-template-rows: 30% 40%;
		grid-template-columns: 50% 50%;
	}

	.logo-footer {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
		padding-inline: 5%;
		padding-bottom: 3%;
		margin-inline: 15%;
		width: 100%;
	}

	.learn-more {
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.company {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	

	.find-me {
		font-size: 15px;
	}

	.link {
		margin-inline: 6%;
		border-radius: 7px;
	}

	.support {
		padding-block: 3%;
	}
}

@media (max-width: 500px) {

	.main {
		padding-block: 20%;
	}

	.logo-footer {
		width: 230px;
	}
}
>>>>>>> 3074b10f1f5fa34cf4349b12a8d59a5172e43911
