<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="='utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../static/emergency.css" />
        <title>Emergency Kit</title>
    </head>
    <body>

        <header class="header">
            <div class="logo-div">
                <a href="#" id="previous-arrow">&#8249;</a>
                <img id="logo" src="https://i.ibb.co/hfZtrzg/logo1-removebg-preview.png" alt="Logo">
            </div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-button-container">
                <div class="menu-button"></div>
            </label>
            <ul class="menu">
                <li><a href="homepage" class="header-link">Home</a></li>
                <li><a href="precautions" class="header-link">Precautions</a></li>
                <li><a href="blog" class="header-link">Blog</a></li>
                <li><a href="gallery" class="header-link">Gallery</a></li>
                <li><a href="about-us" class="header-link">About&nbsp;Us</a></li>
            </ul>
        </header>
       
        <main>
            <section id="emergency-body">
                <div class="site-content">
                    <h2 id="heading-rescue-kit">Rescue Kit - For Car or Home!</h2>
                    <li id="starter">Here are some items you'll want to have on hand for the next time you encounter an animal in need:</li>
                    <ol class="points">
                        <li class="points-header">Thick work gloves</li>
                        <hr class="points-seperator"/>
                        <div>
                            <li class="points-header">Key capture tools</li>
                            <ul class="sub-list">
                                <li>Cardboard box or collapsible pet carrier</li>
                                <li>Blanket (to throw over animals to immobilize them, to place under <a class="link-in-body" href="https://youtu.be/Lgd_B6iKPxU">turtles to help them cross a road</a>, and for other uses)</li>
                                <li>Fishing net (for birds or bats replace net with light cloth or butterfly net)</li>
                                <li>Pillowcase for transport of snakes. According to <a class="link-in-body" href="http://snake-removal.com/">snake-removal.com</a>, this is a good method: "Throw your shirt or a light blanket over the snake and scoop the snake up, placing the shirt and snake into the pillowcase." If you are not familiar with snakes, be extra cautious if you choose to handle them.</li>
                            </ul>
                        </div>
                        <hr class="points-seperator"/>
                        <div>
                            <li class="points-header">Capture Accessories</li>
                            <ul class="sub-list">
                                <li>Blanket</li>
                                <li>Dog treats</li>
                                <li>Tight-weave towel</li>
                            </ul>
                        </div>
                        <hr class="points-seperator"/>
                        <div>
                            <li class="points-header">First aid kit (see, for example, <a class="link-in-body" href="https://www.redcross.org/store/american-red-cross-auto-first-aid-kit/711320.html">this inexpensive Red Cross product)</a>.</li>
                            <ul class="sub-list">
                                <li>Topical antibiotic (e.g., Polysporin)</li>
                                <li>Antiseptic lotion, spray or wipes</li>
                                <li>Hydrogen peroxide</li>
                            </ul>
                        </div>
                        <hr class="points-seperator"/>
                        <li class="points-header">Paper Towels</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">Dog leash and collar</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">Flashlight</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">Mliti-use tool</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">Traffic cones( collapsible cones are available)</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">Animal Help Now smartphone app (<a class="link-in-body" href="https://itunes.apple.com/us/app/animal-help-now!/id511153457?mt=8">iphone</a>, <a class="link-in-body" href="https://itunes.apple.com/us/app/animal-help-now!/id511153457?mt=8">Android</a>)</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">For birds: Catch net, covering for the cage and cage liner</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">For birds: Spray bottle to moisten your bird's feathers if the weather is hot</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">For snakes: Pillowcase for transportation. Be sure to have permanent and secure housing for him when you reach a safe place.</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">For snakes: Sturdy bowl for soaking</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">For snakes: Heating pad or other warming device such as a hot water bottle</li>
                        <hr class="points-seperator"/>
                        <li class="points-header">For small animals: A week's worth of bedding materials</ul>
                    </ol>
                </div>
            </section>
        </main>
        
        <footer class="footer">
            <div class="logo-footer">
                <img alt="logo-footer" src="../static/logo-wlr.png" id="logo-img"/>
            </div>
            
            <div class="footer-list">
                <div class="footer-li">
                    <ul id="learn-more"><b>Learn More</b>
                        <div class="f-data">
                            <li><a class="footer-a" href="/">Home</a></li>                        
                            <li><a class="footer-a" href="precautions">Precautions</a></li>
                            <li><a class="footer-a" href="emergency">Emergency Kit</a></li>
                            <li><a class="footer-a" href="#">Reviews</a></li>
                        </div>
                    </ul>
                </div>

                <div class="footer-li">
                    <ul id="Company"><b>Team</b>
                        <div class="f-data">
                            <li><a class="footer-a" href="about-us">About Us</a></li>                        
                            <li><a class="footer-a" href="gallery">Gallery</a></li>
                            <li><a class="footer-a" href="blog">Blogs</a></li>
                            <li><a class="footer-a" href="#">Organizations</a></li>
                        </div>
                    </ul>
                </div>

                <div class="footer-li">
                    <ul id="support"><b>Support</b>
                        <div class="f-data">
                            <li><a class="footer-a">(+91)9537300286</a></li>
                            <li><a class="footer-a" href="#">Contact Us</a></li>
                            <li><a class="footer-a" href="#">FAQ</a></li>
                        </div>
                    </ul>
                </div>
                    
            </div>
        </footer>
        <script>
            var backButton = document.getElementById('previous-arrow');
            backButton.addEventListener("click", function () {
                window.history.back();
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const toggleButton = document.querySelector('.toggle-button');
                const navbarLinks = document.querySelector('.navbar-links');
    
                toggleButton.addEventListener('click', () => {
                    navbarLinks.classList.toggle('active');
                });
            });
        </script>
    </body>
</html>
