<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/gallery.css">
    <script src="script.js"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
				<a href="#" id="previous-arrow">&#8249;</a>
                <img src="https://i.ibb.co/hfZtrzg/logo1-removebg-preview.png" alt="Logo">
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    
                    <li><a href="../templates/organization.html">Organization</a></li>
                    <li><a href="../templates/precautions.html">Precautions</a></li>
                    <li><a href="../templates/emergency.html">Emergency&nbsp;kit</a></li>
                    <li>
                        <div class="dropdown">
                            <a href="#" class="dropdown-btn">&#9776;</a>
                            <div class="dropdown-content" id="myDropdown">
                                <a class="dropdown-item" href="../templates/Blog.html">Blog</a>
                                <a class="dropdown-item" href="../templates/gallery.html">Gallery</a>
                                <a class="dropdown-item" href="../templates/about-us.html">About Us</a>
                            </div>
                        </div>
                    </li>
                    
    
                </ul>
            </div>
        </nav>
    
    </header>
    
    <div id="wrapper">
        <div class="container">
            <h1>My Gallery</h1>
            <div class="gallery">
                <figure class="card">
                    <img src="../static/gallery_img4.jpeg" alt="">
                    
                </figure>
                <figure class="card">
                    <img src="../static/gallery_img5.jpeg" alt="">
                    
                </figure>
                <figure class="card">
                    <img src="../static/gallery_img3.jpeg" alt="">
                    
                </figure>
                <figure class="card">
                    <img src="../static/gallery_img1.jpeg" alt="">
                    
                </figure>
                <figure class="card">
                    <img src="../static/gallery_img2.jpeg" alt="">
                    
                </figure>
                <figure class="card">
                    <img src="../static/gallery_img6.jpeg" alt="">
                    
                </figure>
            </div>
        </div>
    </div>
    
    <footer>
        <div class= "footer">
            <div>
                <img id="logo-footer" src="https://i.ibb.co/LSX9KgQ/logo1.png" />
            </div>
            
            <div class="footer-list">
                <div></div>
                <div class="footer-li">
                    <ul id="learn-more"><b>Learn More</b>
                        <div class="f-data">
                            <li><a class="footer-a" href="../templates/homepage.html">Home</a></li>                        
                            <li><a class="footer-a" href="../templates/precautions.html">Precautions</a></li>
                            <li><a class="footer-a" href="../templates/emergency.html">Emergency Kit</a></li>
                            <li><a class="footer-a" href="#">Reviews</a></li>
                        </div>
                    </ul>
                </div>
    
                <div class="footer-li">
                    <ul id="Company"><b>Company</b>
                        <div class="f-data">
                            <li><a class="footer-a" href="../templates/about-us.html">About Us</a></li>                        
                            <li><a class="footer-a" href="../templates/gallery.html">Gallery</a></li>
                            <li><a class="footer-a" href="../templates/Blog.html">Blogs</a></li>
                            <li><a class="footer-a" href="../templates/organization.html">Organizations</a></li>
                        </div>
                    </ul>
                </div>
    
                <div class="footer-li">
                    <ul id="support"><b>Support</b>
                        <div class="f-data">
                            <li><a class="footer-a" style="font-size: 17px;" >(+91) 9537300286</a></li>
                            <li><a class="footer-a" href="#">Contact Us</a></li>
                            <li><a class="footer-a" href="#">FAQ</a></li>
                        </div>
                    </ul>
                </div>
                    
            </div>
        </div>
    </footer>
    <script>
        var backButton = document.getElementById('previous-arrow');
        backButton.addEventListener("click", function () {
            window.history.back();
        });
    </script>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
            const toggleButton = document.querySelector('.toggle-button');
            const navbarLinks = document.querySelector('.navbar-links');

            toggleButton.addEventListener('click', () => {
                navbarLinks.classList.toggle('active');
            });
        });
    </script>
    
</body>

</html>