<!DOCTYPE html>
<html>

<head>
  <meta charset="='utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="../static/organization.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <title>Show My Location</title>
</head>

<body>
  <header class="header">
    <div class="logo-div">
        <a href="#" id="previous-arrow">&#8249;</a>
        <img id="logo" src="https://i.ibb.co/hfZtrzg/logo1-removebg-preview.png" alt="Logo">
    </div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-button-container">
        <div class="menu-button"></div>
    </label>
    <ul class="menu">
        <li><a href="/" class="header-link">Home</a></li>
        <li><a href="blog" class="header-link">Blog</a></li>
        <li><a href="gallery" class="header-link">Gallery</a></li>
        <li><a href="about-us" class="header-link">About&nbsp;Us</a></li>
    </ul>
  </header>

  <!-- Main body -->
  <main>
    <div>
      <h1 class="organization-name">Organization Name</h1>
    </div>
    <section id="about-body">
      <div class="Site-content">
        <div class="map-container">
          <div class="user-info">

            <div class="info">
              <p>User: <span>&#160;Dhara Savani</span></p>
              <p>Contact No: +91-9820398233</p>
              <div id="distance">Distance: Calculating...</div>
              <button class="accept-button">Accept</button>
              <button class="decline-button" style="margin-left: 11%" onclick="removeInfo(this)">
                Decline
              </button>
              <br /><br />
              <hr />
              <hr />
              <br />
            </div>

            <div class="info">
              <p>User: <span>&#160;Vrund Patel</span></p>
              <p>Contact No: +91-9820398233</p>
              <div id="distance">Distance: Calculating...</div>
              <button class="accept-button">Accept</button>
              <button class="decline-button" style="margin-left: 11%" onclick="removeInfo(this)">
                Decline
              </button>
              <br /><br />
              <hr />
              <hr />
              <br />
            </div>

            <div class="info">
              <p>User: <span>&#160;Parth Patel</span></p>
              <p>Contact No: +91-9820398233</p>
              <div id="distance">Distance: Calculating...</div>
              <button class="accept-button">Accept</button>
              <button class="decline-button" style="margin-left: 11%" onclick="removeInfo(this)">
                Decline
              </button>
              <br /><br />
              <hr />
              <hr />
            </div>

          </div>
          <div id="map"></div>
        </div>
        <button id="user-location" onclick="displayInfo()">Rescue</button>
        <br />
        <br />
        <button id="organization-location">Show My Location</button>
      </div>
    </section>
    <div class="rescue-track-container">
      <h3 style="font-size: 130%">
        Number of Animals and Birds rescued by you
      </h3>
      <br />
      <br />
      <h1 class="rescue-number">
        <span>72</span>
        <span>78</span>
      </h1>
      <h2 class="rescue-category">
        <span style="color: #6746c1">Animals</span>
        <span style="color: #e6653c">Birds</span>
        <br />
        <span style="margin-left: 15%; color: #6746c1">Rescued</span>
        <span style="margin-left: 12%; color: #e6653c">Rescued</span>
      </h2>
    </div>
  </main>

  <footer class="footer">
    <div class="logo-footer">
        <img alt="logo-footer" src="../static/logo-wlr.png" id="logo-img"/>
    </div>
    
    <div class="footer-list">
        <div class="footer-li">
            <ul id="learn-more"><b>Learn More</b>
                <div class="f-data">
                    <li><a class="footer-a" href="/">Home</a></li>                        
                    <li><a class="footer-a" href="precautions">Precautions</a></li>
                    <li><a class="footer-a" href="emergency">Emergency Kit</a></li>
                    <li><a class="footer-a" href="#">Reviews</a></li>
                </div>
            </ul>
        </div>

        <div class="footer-li">
            <ul id="Company"><b>Team</b>
                <div class="f-data">
                    <li><a class="footer-a" href="about-us">About Us</a></li>                        
                    <li><a class="footer-a" href="gallery">Gallery</a></li>
                    <li><a class="footer-a" href="blog">Blogs</a></li>
                    <li><a class="footer-a" href="login">Organizations</a></li>
                </div>
            </ul>
        </div>

        <div class="footer-li">
            <ul id="support"><b>Support</b>
                <div class="f-data">
                    <li><a class="footer-a">(+91)9537300286</a></li>
                    <li><a class="footer-a" href="#">Contact Us</a></li>
                    <li><a class="footer-a" href="#">FAQ</a></li>
                </div>
            </ul>
        </div>
            
    </div>
</footer>

  <script>
    // Initialize the map
    var map = L.map("map").setView([0, 0], 13);

    // Add an OpenStreetMap tile layer
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      subdomains: "abc",
    }).addTo(map);

    var markers = L.featureGroup().addTo(map);
    var acceptButtons = document.getElementsByClassName("accept-button");

    Array.from(acceptButtons).forEach(function (button) {
      button.addEventListener("click", function () {
        if (navigator.geolocation) {
          // Prompt the user for location access
          navigator.geolocation.getCurrentPosition(
            (position) => {
              // Get the user's location
              const userLocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };

              var marker = L.marker([
                userLocation.lat,
                userLocation.lng,
              ]).addTo(markers);

              var infoDiv = button.closest('.info');
              var name = infoDiv.querySelector('span').textContent;
              console.log(name);
              var popupContent =
                `<strong>User Information:</strong><br>Name: ${name}<br>Email: wildliferescue@wlf.com<br>Phone No: +91 9283819331`;
              marker.bindPopup(popupContent).openPopup();
              markers.addTo(map);
              map.fitBounds(markers.getBounds());

              // Center the map on the user's location
              map.setView(userLocation, 13);

              // Add a marker at the user's location (optional)
              L.marker(userLocation).addTo(map);
            },
            (error) => {
              console.error("Location access denied:", error);
            }
          );
        } else {
          console.error("Geolocation not supported by your browser.");
        }
      });
    });
    // document.getElementsByClassName("accept-button").addEventListener("click", () => {

    // });
  </script>
  <script>
    function displayInfo() {
      var userInfos = document.querySelectorAll(".info");
      console.log(userInfos);
      userInfos.forEach(function (info) {
        info.classList.toggle("visible");
      });

    }

    function removeInfo(button) {
      var removeInfo = button.closest(".info");
      var userName = removeInfo.querySelector('span').textContent;

      markers.eachLayer(function (layer) {
        if (layer._popup.getContent().includes(userName)) {
          map.removeLayer(layer);
          // map.setView([0, 0], 13);
        }
      });

      // removeInfo.style.display = 'none';
      removeInfo.remove();

      var userInfos = document.querySelectorAll(".info");
      if (userInfos.length === 0) {
        //   markers.clearLayers();
        //   map.closePopup();
        map.setView([0, 0], 13);
      }
    }
  </script>
  <script>
    var backButton = document.getElementById('previous-arrow');
    backButton.addEventListener("click", function () {
      window.history.back();
    });
  </script>
</body>

</html>