<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Precaution</title>
        <link rel="stylesheet" href="../static/precautions.css" />
        <!-- <script src="script.js"></script> -->
    </head>
    <body>
    
        <header>
            <nav class="navbar">
                <div class="logo">
                    <a href="#" id="previous-arrow">&#8249;</a>
                    <img src="https://i.ibb.co/hfZtrzg/logo1-removebg-preview.png" alt="Logo">
                </div>
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="navbar-links">
                    <ul>
                        
                        <li><a href="organization">Organization</a></li>
                        <li><a href="precautions">Precautions</a></li>
                        <li><a href="emergency">Emergency&nbsp;kit</a></li>
                        <li>
                            <div class="dropdown">
                                <a href="#" class="dropdown-btn">&#9776;</a>
                                <div class="dropdown-content" id="myDropdown">
                                    <a class="dropdown-item" href="Blog">Blog</a>
                                    <a class="dropdown-item" href="gallery">Gallery</a>
                                    <a class="dropdown-item" href="about-us">About Us</a>
                                </div>
                            </div>
                        </li>
                        
        
                    </ul>
                </div>
            </nav>
        
        </header>

        <main>
            <section class="precaution-body">
                <div class="help-links">
                    <div class="help-div">
                        <h2 class="help-heading">What to do when you find a life starving for a life?</h2>
                        <h4 id="wildlife-emergency">WILDLIFE EMERGENCY:</h4>
                        <div class="links">
                            <ul>
                                <li><a class="link-in-body" href="#bird">I found a baby bird. What should I do?</a></li>
                                <li><a class="link-in-body" href="#mammal">I found a baby mammal. What should I do?</a></li>
                                <li><a class="link-in-body" href="#owl">I found a baby owl, hawk or eagle. What should I do?</a></li>
                                <li><a class="link-in-body" href="#turtle">I found a baby turtle. What should I do?</a></li>
                                <li><a class="link-in-body" href="#orphan">How do I tell if a wild animal is orphaned or if the parents are simply out of sight?</a></li>
                                <li><a class="link-in-body" href="#reunite">Should I try to reunite a baby animal with his or her parents?</a></li>
                                <li><a class="link-in-body" href="#transport">How do I capture and transport a wild animal?</a></li>
                                <li><a class="link-in-body" href="#help-transport">Can I get help transporting wildlife?</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr class="line-break" />
                    <div class="bird-div">
                        <h3 id="bird">I found a baby bird. What should I do?</h3>
                        <img class="animal-img" src="../static/babybird.jpg" />
                    </div>
                    <hr class="line-break" />
                    <div class="owl-div">
                        <h3 id="owl">I found a baby owl, hawk or eagle. What should I do?</h3>
                        <p class="owl-content">Often, well-meaning humans unintentionally take healthy young raptors away from their parents. If you found a baby owl, hawk or eagle and the bird appears to be uninjured, reuniting the baby with his parents is the best approach. If the baby is injured or if you are unsure, use Animal Help Now to find the nearest wildlife emergency professional.</p>
                    </div>
                    <hr class="line-break" />
                    <div class="mammal-div">
                        <h3 id="mammal">I found a baby mammal. What should I do?</h3>
                        <img class="animal-img" src="../static/babymammal.jpg" />
                    </div>
                    <hr class="line-break" />
                    <div class="turtle-div">
                        <h3 id="turtle">I found a baby turtle. What should I do?</h3>
                        <img class="animal-img" src="../static/turtle.jpg" />
                    </div>
                    <hr class="line-break" />
                    <div class="orphan-div">
                        <h3 id="orphan">How do I tell if a wild animal is orphaned or if the parents are simply out of sight?</h3>
                        <div class="orphan-content">
                            <li>Always remember that baby wild animals left alone for long periods of time (up to 14 hours) may not have been abandoned. Do not interfere unless you are certain the animal has been abandoned or separated from her mother. Rabbits have very large digestive organs that store enough milk that the mother returns just twice each day to feed her kits. Other animals may exhibit similar behavior.</li>
                            <li><br />If the mother is confirmed dead or the baby animal is covered with blood or insects, has been caught by a cat, dog or wild animal or is cold, use Animal Help Now to contact a nearby wildlife rehabilitator.</li>
                            <li><br />See also:</li>
                        </div>
                        <div class="links">
                            <li><a class="link-in-body" href="#bird">I found a baby bird. What should I do?</a></li>
                            <li><a class="link-in-body" href="#mammal">I found a baby mammal. What should I do?</a></li>
                            <li><a class="link-in-body" href="#owl">I found a baby owl, hawk or eagle. What should I do?</a></li>
                            <li><a class="link-in-body" href="#turtle">I found a baby turtle. What should I do?</a></li>
                        </div>
                    </div>
                    <hr class="line-break" />
                    <div class="reunite-div">
                        <h3 id="reunite">Should I try to reunite a baby animal with his or her parents?</h3>
                        <div class="reunite-content">
                            <li>If you have found a wild baby animal, it may be possible and advisable to try to reunite the baby with his or her parents. The following conditions must all be met:</li>
                            <div class="reunite-bullets">
                                <li>The baby animal is not ill, injured, or orphaned.</li>
                                <li>At least one parent is still in the area.</li>
                                <li>You have been given the go-ahead from a wildlife rehabilitator or other wildlife expert. Use Animal Help Now to find local wildlife experts.</li>
                            </div>
                            <br />
                            <li>The information in the following chart can help guide your efforts:</li>
                            <img class="reunite-img" src="../static/reunion-boxes.jpg" />
                            <li><br />See also:</li>
                        </div>
                        <div class="links">
                            <li><a class="link-in-body" href="#bird">I found a baby bird. What should I do?</a></li>
                            <li><a class="link-in-body" href="#mammal">I found a baby mammal. What should I do?</a></li>
                            <li><a class="link-in-body" href="#owl">I found a baby owl, hawk or eagle. What should I do?</a></li>
                            <li><a class="link-in-body" href="#turtle">I found a baby turtle. What should I do?</a></li>
                        </div>
                    </div>
                    <hr class="line-break" />
                    <div class="transport-div">
                        <h3 id="transport">How do I capture and transport a wild animal?</h3>
                        <div class="transport-content">
                            <li>Always remember to exercise safety and caution when helping animals. Even though your intentions are good, many animals - especially wild ones - may perceive you as a threat.</li>
                            <li><br />Understand that approaching an animal without proper preparation can result in injury to yourself and/or bring further harm upon the animal.</li>
                            <li><br />Whenever possible, consult the experts we direct you to before approaching or handling an animal. Their understanding of animal health and behavior may spare you and the animal both trouble and harm.</li>
                            <li><br />If you are unable to reach an expert, please refer to the instructions provided by Greenwood Wildlife and Rehabilitation Center for the most appropriate way to capture and transport an animal. If you do not have access to the internet, brief capture and transport instructions are provided below.</li>
                            <li><br />DO NOT attempt to capture or transport an animal unless you believe it is absolutely critical to his health and survival. For an injured animal, the shock and fear associated with being handled may be enough to kill him. Further, a frightened animal can cause you harm.</li>
                            <li><br />DO NOT attempt to capture or transport rabies vector species, including foxes, skunks, raccoons, groundhogs, and bats, without specific instruction from an expert. Even a small scratch can result in a fatal case of rabies and will almost certainly result in the animal being killed to determine whether or not she has rabies.</li>
                            <li><br />Please understand that the risk of disease accompanies handling most animals. Rodents, for instance, may carry a host of communicable diseases. Exercise the utmost caution when handling or capturing an animal.</li>
                            <li><br />If you find yourself in a situation where you believe you must capture an animal for the sake of her health and survival, and you have so far been unable to reach an expert, follow the instructions below:</li>
                            <br />
                            <div class="transport-bullets">
                                <li class="transport-individual-bullet">Try to minimize direct contact with the animal. Always wear protective clothing, including gloves and long sleeves to protect against bites and scratches.</li>
                                <li class="transport-individual-bullet">Find a well-ventilated, enclosed box or animal carrier and line it with something absorbent, including newspaper, clean sheets, or t-shirts. Refrain from using garments with loose knit or frayed edges, as these can actually be harmful to the animal.</li>
                                <li class="transport-individual-bullet">With a cloth or t-shirt in hand, approach the animal from behind and gently but securely grab hold of her. Keeping the animal covered minimizes stress and keeps you protected. Then carefully place her in the box or carrier you have chosen. If you are trying to catch a bird, butterfly nets can be useful.</li>
                                <li class="transport-individual-bullet">Place the box or carrier in someplace quiet and dark. DO NOT handle the animal unless absolutely necessary, as this causes stress and can lead to shock, and potentially death. If you are unable to transport the animal, place a heating pad underneath half of the box, though you should not do so on a hot day. DO NOT feed or give water to the animal. Forcing an injured animal to drink water could kill her, and if she gets wet she could suffer hypothermia and die.</li>
                                <li class="transport-individual-bullet">Refrain from administering any type of treatment unless the animal is bleeding severely. In such a situation, apply steady, gentle pressure to stop the bleeding. DO NOT apply a tourniquet.</li>
                                <li class="transport-individual-bullet">Once you are ready to transport the animal, place the carrier on the floor of your car, and keep the car warm and quiet. Avoid sudden stops and sharp turns. DO NOT let anyone, especially a child, hold the animal in his or her lap during the trip. If the animal is too large or too heavy for a carrier, simply wrapping him in a blanket and placing him in a stable location - such as the back of an SUV or van - may be the best option.</li>
                            </div>
                            <li><br />Here are a few species-specific handling and transportation resources:</li>
                            <div class="links">
                                <li><a class="link-outof-body" href="https://www.facebook.com/barley.murray/videos/784053925103340">Quick video on capturing injured opossums.</a></li>
                                <li><a class="link-outof-body" href="https://ahnow.org/resources/AnimalHelpNow_Waterfowl_Capture.pdf" download>Helpful guide on capturing waterfowl.</a></li>
                                <li><a class="link-outof-body" href="https://www.youtube.com/watch?v=Lgd_B6iKPxU">Quick video on how to move a snapping turtle.</a></li>
                            </div>
                            <li>You can also search the web for guidance on specific issues.</li>
                        </div>
                    </div>
                    <hr class="line-break" />
                    <div class="help-transport-div">
                        <h3 id="help-transport">Can I get help transporting wildlife?</h3>
                        <li class="help-transport-content">Animal Help Now wants to hear from you! <a class="link-outof-body">Please contact us</a> if you have information regarding wildlife transportation services in your state or region.</li>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class= "footer">
                <div>
                    <img id="logo-footer" src="https://i.ibb.co/LSX9KgQ/logo1.png" />
                </div>
                
                <div class="footer-list">
                    <div></div>
                    <div class="footer-li">
                        <ul id="learn-more"><b>Learn More</b>
                            <div class="f-data">
                                <li><a class="footer-a" href="/">Home</a></li>                        
                                <li><a class="footer-a" href="precautions">Precautions</a></li>
                                <li><a class="footer-a" href="emergency">Emergency Kit</a></li>
                                <li><a class="footer-a" href="#">Reviews</a></li>
                            </div>
                        </ul>
                    </div>
        
                    <div class="footer-li">
                        <ul id="Company"><b>Company</b>
                            <div class="f-data">
                                <li><a class="footer-a" href="about-us">About Us</a></li>                        
                                <li><a class="footer-a" href="gallery">Gallery</a></li>
                                <li><a class="footer-a" href="Blog">Blogs</a></li>
                                <li><a class="footer-a" href="organization">Organizations</a></li>
                            </div>
                        </ul>
                    </div>
        
                    <div class="footer-li">
                        <ul id="support"><b>Support</b>
                            <div class="f-data">
                                <li><a class="footer-a" style="font-size: 17px;" >(+91) 9537300286</a></li>
                                <li><a class="footer-a" href="#">Contact Us</a></li>
                                <li><a class="footer-a" href="#">FAQ</a></li>
                            </div>
                        </ul>
                    </div>
                        
                </div>
            </div>
        </footer>
        <script>
            var backButton = document.getElementById('previous-arrow');
            backButton.addEventListener("click", function () {
                window.history.back();
            });
        </script>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
                const toggleButton = document.querySelector('.toggle-button');
                const navbarLinks = document.querySelector('.navbar-links');
        
                toggleButton.addEventListener('click', () => {
                    navbarLinks.classList.toggle('active');
                    toggleButton.classList.toggle('cross');
                });
            });
        </script>
    </body>
</html>
